[submodule "hacking-robotics/themes/PaperMod"]
	path = hacking-robotics/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "robotics/drake/manipulation"]
	path = robotics/drake/manipulation
	url = git@github.com:Prakyathkantharaju/manipulation.git
